<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Prime Workflow</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TV2 Workflow</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sales Workflow</a>
      </li>
    </ul>
  </div>
</nav>
