.product-catalog{
    float: left;
   flex-wrap: wrap;
    &__card{
        width:270px;
        margin-right: 20px;
        margin-bottom: 20px;
        display: block;
        border-radius: 0px;
        box-shadow: 1px 3px #ddd7d7;
        button{
            margin-right: 10px;
        }
    }
}
.btn-group{
    width: 100%;
    padding-right: 20px;
    margin-bottom: 20px;
}